/*website Color Scheme: 

*light and bright
*light blue: #4890f4
*sky blue: #0445a0
*deep blue: #0031e0
* pale-bright blue: #2f4af9
*bright blue: #0369f8

*dark and bright
*dark blue: #170061
*#dark navy: #050231
*nice blue: #0b30b4
*bright blue-violet: #02079a
*purple-blue: #0800fd

*light and dull
*pale blue: #4f86c4
*dim blue: #2a417e

*dark and dull
*blue-violet: #161641
*blue-black: #0a0c1f
*dim blue-green: #254a6f
*super dark blue: #030112
*dim and dull dark blue: #02010c
*really dark blue: #051123

*/

@font-face {
    font-family: supercharge-3d;
    src: url(fonts/supercharge-font/Supercharge3D-GO79P.otf);
}

@font-face {
    font-family: supercharge;
    src: url(fonts/supercharge-font/Supercharge-JRgPo.otf);
}

@font-face {
    font-family: cutebold;
    src: url(fonts/supercharge-font/cutebold-font/Cutebold-zE50.otf);
}

/* GENERIC BODY AND HEADER STYLES */

h1 {
    font-family: supercharge, supercharge-3d, sans-serif;
    font-weight: bold;
    font-size: 40px;
}
h1,h2,h3,h4 {
    font-family: supercharge, supercharge-3d, sans-serif;
    font-weight: bold;
    text-align: center;
}

h1 {
    font-size: 2.25em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.75em;
}

h4 {font-size: 1.5em;}

#guide h2, #info h2 {
    text-shadow: 1px 1px #170061;
}

#about h2, #btn-banner h3 {
    text-shadow: 1px 1px #0b30b4;
}

body {
    font-family: cutebold, arial, sans-serif;
    font-size: 1.25em;
}

#box {
    background-color: #0369f8;
    padding: 10px
}

/* ANCHOR STYLES */

a {
    color: #0b30b4;
    text-decoration: none;
}

a:visited {
    color: #4890f4
}

a:hover {
    color: #170061;
}

/* HEADER STYLES */

header {
    background-color: #0369f8;
    display: flex;
    justify-content: space-between;
}

#logo {
    border-radius: 20%;
    padding-top: 10px;
    padding-left: 10px;
}

/* NAV STYLES */

nav li{
    display: inline;
}
nav li a, nav a:visited {
    color: #0800fd;
    font-weight: bold;
    font-size: 1.5em;
}

nav a:hover {
    color: #030112;
}

nav a.active {
    color: #02079a;
}

nav a.active:hover {
    color: #030112;
}

/* BUTTON STYLES */

.btn {
    background-color: #0031e0;
    color: #02010c;
    border:3px dashed #050231;
    border-radius: 10%;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    display: block;
    margin: 20px auto;
    width: fit-content;
}

.btn:visited {
    background-color: #0031e0;
    color: #0369f8;
    border:3px dashed #050231;
    border-radius: 10%;
    font-weight: bold;
}
.btn:hover {
    background-color: #0b30b4;
    color: #170061;
}

/* FLEX CONTAINER STYLES */

.flex-container {
    display: flex;
    align-items: center;
    gap: 5%;
}

.flex-container img {
    width: 100%;
}

/* HERO SECTION STYLES */

#hero {
    background-image: url("car-images/red-mclaren.png");
    color: #0d0dd7;
    text-align: center;
}

/* GUIDE SECTION STYLES */

#guide {
    background-color: #4890f4;
    color: #0d0dd7;
    font-size: 1.25em;
    text-align: center;
}

#guide .flex-item {
    flex: 33%;
}

#guide img {
    display: block;
}

/* ABOUT SECTION STYLES */

#about {
    background-color: #050231;
    color: #0031e0;
    list-style-type: none;
}

#about img {
    border: 3px solid #2f4af9;
}

#about i {
    color: #2f4af9;
    font-size: 1.5em;
}

#about li {
    list-style-type: none;
    font-size: 1.25em;
}

#about .flex-item {
    flex: 48%;
}

/* INFORMATION SECTION STYLES */

#info {
    background-color: #2f4af9;
    color: #0a0c1f;
    font-size: 1.25em;
}

#info img {
    border: 5px solid #170061;
    border-radius: 10px;
}

#info i {
    color: #051123;
    font-weight: bold;
    font-size: 3em;
    text-shadow: 1px 1px #ffffff;
    float: left;
}

#info .flex-item {
    flex: 48%;
}
/* BUTTON BANNER STYLES */

#btn-banner {
    background-color: #0031e0;
    color: #170061;
    text-align: center;
}

/* IMAGE BANNER STYLES */

#img-banner {
    background-color: #4890f4;
}

#img-banner .flex-container {
    display: flex;
    flex-wrap: wrap;
}

#img-banner img {
    flex: 1 1 200px;
    min-width: 0%;
    height: auto;
}
/* FOOTER STYLES */

footer {
    background-color: #0369f8;
    color: #0a0c1f;
    text-align: center;
    font-size: 1em;
}

footer i {
    font-size: 2em;
}

footer li {
    text-decoration: none;
    display: inline;
}