/*website Color Scheme: 

*light and bright
*light blue: #4890f4
*sky blue: #0445a0
*deep blue: #0031e0
* pale-bright blue: #2f4af9
*bright blue: #0369f8

*dark and bright
*dark blue: #170061
*#dark navy: #050231
*nice blue: #0b30b4

*light and dull
*pale blue: #4f86c4
*dim blue: #2a417e

*dark and dull
*blue-violet: #161641
*blue-black: #0a0c1f
*dim blue-green: #254a6f
*super dark blue: #030112
*dim and dull dark blue: #02010c
*really dark blue: #051123

*/

img{
    max-width: 200px;
}

/*HEADER STYLES */

header {
    background-color: #0369f8;
}

#logo {
    border-radius: 20%;
    padding-top: 10px;
    padding-left: 10px;
}

nav a {
    color: #170061;
    font-weight: bold;
}

nav a:hover {
    color: #030112;
}

nav .active {
    color: #0a0c1f;
}

/* ANCHOR LINK STYLES */

a {
    color: #0b30b4;
}

a:visited {
    color: #4890f4
}

a:hover {
    color: #170061;
}

/* BUTTON STYLES */

.btn {
    background-color: #0031e0;
    color: #02010c;
    border:3px dashed #050231;
    border-radius: 10%;
    font-weight: bold;
}

.btn:visited {
    background-color: #0031e0;
    color: #4890f4;
    border:3px dashed #050231;
    border-radius: 10%;
    font-weight: bold;
}
.btn:hover {
    background-color: #0b30b4;
    color: #170061;
}

/* HERO SECTION STYLES */

#hero {
    background-image: url("car-images/red-mclaren.png");
    color: #0d0dd7;
}

/* GUIDE SECTION STYLES */

#guide {
    background-color: #4890f4;
    color: #0d0dd7;
}

/* ABOUT SECTION STYLES */

#about {
    background-color: #050231;
    color: #0031e0;
}

#about img {
    border: 3px solid #2f4af9;
}

#about i {
    color: #2f4af9
}
/* INFORMATION SECTION STYLES */

#info {
    background-color: #2f4af9;
    color: #0a0c1f;
}

#info img {
    border: 5px solid #170061;
    border-radius: 10px;
}

#info i {
    color: #051123;
    font-weight: bold;
}
/* BUTTON BANNER STYLES */

#btn-banner {
    background-color: #0031e0;
    color: #050231;;
}

/* IMAGE BANNER STYLES */

#img-banner {
    background-color: #4890f4;
}
/* FOOTER STYLES */

footer {
    background-color: #0369f8;
    color: #0a0c1f;
}